.modal-wrapper{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.modal-backdrop{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: whitesmoke;
    z-index: 102;
    padding: 10px;
    border-radius: 8px;
    color: black;
    overflow-y: auto;
}