.liked-announcements{
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
    margin-left: 20px;
}

.liked-announcements img{
    position: absolute;
}

.liked-announcements button{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
}