.box-home-announcements-animals{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100%;
}
.home-announcements-animals{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
