.form-new-announcement{
    margin-right: 50px;
    margin-top: 20px;
    background-color: rgba(245, 245, 245, 0.822);
    border-radius: 8px;
    padding: 10px;
    position: relative;
    height: 70vh;
    overflow-y: scroll;
}

.form-new-announcement textarea{
    height: 70px;
}