.new-announcement{
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
    margin-left: 20px;
}

.new-announcement img{
    position: absolute;
}

#curls-new-announcement{
    right: 0;
    top: 0;
    height: 80%;
}

