.content-announcement-bottom{
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-session-announcement-bottom{
    padding: 10px;
}

.right-session-announcement-bottom{
    padding-left: 10px;
}

.checked-list-item-announcement-section div{
    background-image: url(../../assets/carraca.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    height: 100%;
    box-sizing: border-box;
    padding-right: 25px;
    background-position: center;
}

.checked-list-item-announcement-section {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    color: rgb(88, 88, 88);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin: auto;
    height: calc(100% / 3);
    display: table;
    border: 2px solid red;
    padding-bottom: 5px;
    padding-top: 5px;
}

.checked-list-item-announcement-section p{
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}

.content-description-saude-section{
    font-size: 12px;
    font-weight: 200px;
    color: rgb(109, 109, 109);
    text-align: justify;
    border: 2px solid yellow;
    width: 100%;
    padding: 10px;
}

.content-donor-announcement{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}