@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

.content-client-settings{
    height: 100%;
}

.content-client-settings-left-wrapper{
    height: 100%;
    position: relative;
    float: left;
    background-image: url('../../images/profile 2.jpg');
    width: 35%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.content-client-settings .content-client-settings-right-wrapper .name-client-settings{
    font-size: 18px;
    color: rgb(73, 73, 73);
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.content-client-settings .content-client-settings-right-wrapper .username-client-settings{
    font-size: 14px;
    color: rgb(92, 92, 92);
    line-height: 20px;
    font-family: 'Quicksand', sans-serif;
}

.content-client-settings-right-wrapper{
    height: 100%;
    width: 65%;
    padding-left: 30px;
    float: left;
    position: relative;
    overflow-y: auto;
}

.content-client-settings-right-wrapper::-webkit-scrollbar {
    width: 0.4em;
}.content-client-settings-right-wrapper::-webkit-scrollbar-track {
    background: #cecdcd;
    border-radius: 8px;
}.content-client-settings-right-wrapper::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 8px;
}	

.profile-edit{
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 12px;
    width: 120px;
    text-align: center;
    height: 34px;
    padding-bottom: 20px;
    line-height: 34px;
    border-radius: 8px;
    color: rgb(172, 172, 172);
    background-color: rgb(228, 228, 228);
    position: absolute;
    right: 0;
    top: 0;
}

.profile-edit:hover{
    filter: brightness(90%);
    transition: filter 0.5s;
    cursor: pointer;
}

.modal-client-settings-wrapper{
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    height: 400px;
    background-color: white;
    box-shadow: 5px 10px 10px #e2e2e2;
    overflow-y: scroll;
}

.modal-client-settings-address-wrapper{
    width: 100%;
}

.modal-client-settings-address-wrapper select{
    height: 50px;
}

.modal-client-settings-address-wrapper .modal-client-settings-address-uf,
.modal-client-settings-address-wrapper .modal-client-settings-address-city{
    width: 50%;
    float: left;
}

.modal-client-settings-address-wrapper .modal-client-settings-address-uf{
    padding-right: 7px;
}

.modal-client-settings-address-wrapper .modal-client-settings-address-city{
    padding-left: 7px;
}

.modal-client-settings-address-wrapper .modal-client-settings-address-street{
    width: 80%;
    padding-right: 7px;
    float: left;
    margin-bottom: 20px;
}

.modal-client-settings-address-wrapper .modal-client-settings-address-number{
    width: 20%;
    padding-left: 7px;
    float: left;
    margin-bottom: 20px;
}

.modal-client-settings-contact-whatsapp{
    width: 30%;
    float: left;
    padding-right: 7px;
    margin-bottom: 20px;
}

.modal-client-settings-contact-email{
    width: 70%;
    float: left;
    padding-left: 7px;
    margin-bottom: 20px;
}

.edit-client-settings-form{
    margin-right: 20px;
}

.edit-client-settings-form .bichinhos-regiao{
    cursor: pointer;
}

.edit-client-settings-form .modal-adopt-subtitle{
    margin-top: 20px;
}

.modal-client-settings-my-password{
    width: 50%;
    float: left;
    padding-right: 7px;
}

.modal-client-settings-new-password{
    width: 50%;
    float: left;
    padding-left: 7px;
}

.content-buttons-client-settings{
    padding-top: 110px;
}

.content-buttons-client-settings .negative-purple{
    margin-right: 10px;
}

.change-profile-pic-box{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin: auto;
    background-image: url('../../images/profile 2.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    -webkit-box-shadow: inset 0px -200px 87px -65px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -200px 87px -65px rgba(0,0,0,0.75);
    box-shadow: inset 0px -200px 87px -65px rgba(0,0,0,0.75);
}

.change-profile-pic-box:hover{
    background-size: 101%;
}

.change-profile-pic-box label{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    padding: 20px;
}

.change-profile-pic-box label p{
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.change-profile-pic-box input[type=file]{
    display: none;
}


