.section-content2-announcement-sections {
    height: 70vh;
    background-color: whitesmoke;
}

.announcement-sections{
    margin-bottom: 50px;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 30px;
    margin-right: 50px;
    height: 550px;
    z-index: 50;
}

.announcement-sections .subtitle-default-page{
    margin-bottom: 20px;
}

.announcement-sections .title-default-page{
    margin-bottom: 10px;
    line-height: 20px;
}

.announcement-sections-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* scroll */



.new-announcement .announcement-sections section{
    padding: 10px;
    height: 100%;
}