.client-settings{
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
    margin-left: 20px;
}

.client-settings img{
    position: absolute;
}

.client-settings-content-wrapper{
    background-color: whitesmoke;
    border-radius: 8px;
    height: 350px;
    margin-right: 50px;
    position: relative;
    padding: 30px;
}

.client-settings button{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
}